<mat-card>
  <button mat-button color="gradient" [routerLink]="['/owner-list']">Go to owner list</button>
  <mat-card-title><br>Car List</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let car of cars">
        <img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/car-edit',getCarId(car._links.self.href)]">{{car.name}} - Owner: {{car.ownerDni}}</a>
        </h3>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>
</mat-card>
