<mat-card>
    <button mat-button color="primary" [routerLink]="['/car-list']">Go to car list</button>
    <mat-card-title><br>Owner List</mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let owner of owners">
          <h3 mat-line>
            <a mat-button [routerLink]="['/owner-edit', getDni(owner._links.self.href)]">{{owner.name}}</a>
            <input type="checkbox" name="" id="" (change)="markOwner(owner._links.self.href,$event.target.checked)">
          </h3>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <button mat-fab color="accent" (click)="delete()">Delete</button>
    <button mat-fab color="primary" [routerLink]="['/owner-add']">Add</button>
</mat-card>
